.header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.top-bar {
  width: 100%;
  background-color: #fff;
}
.top-bar .container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}
.search-bar input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: none;
}
.search-bar button {
  height: 100%;
  width: 100px;
  padding: 7px;
  background-color: #f3f3f3;
  font-size: 16px;
  border: #f3f3f3;
  border-radius: 4px;
}
.search-bar button:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}
.cart-box {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px;
  border-radius: 4px;
}
.cart-box:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
.cart-text {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #000;
}
.navbar {
  width: 100%;
  background-color: #20374f;
  padding: 10px 0;
}
.navbar_link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
}
.navbar_link:hover {
  cursor: pointer;
  color: #f36b32;
}
